{
  "env": {
    "test": {
      "plugins": [
        "transform-object-rest-spread",
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },
    "commonjs": {
      "plugins": [
        "transform-object-rest-spread",
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ],
      "ignore": [
        "**/*.test.js"
      ]
    },
    "es": {
      "plugins": [
        "transform-object-rest-spread"
      ],
      "ignore": [
        "**/*.test.js"
      ]
    },
    "rollup": {
      "plugins": [
        "transform-object-rest-spread",
        "external-helpers"
      ],
      "ignore": [
        "**/*.test.js"
      ]
    }
  }
}
